.titulo {
  text-align: center;
  margin-top: 20px;
  color: #2e7d32;
}

.catalogo-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.produtos {
  width: 60%;
}

.carrinho {
  width: 35%;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.item {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.item button {
  margin-top: 5px;
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
